Patrick Marshall and Patrick Rafferty

Introduction to Data Science

Final Project Notebook

7 March 2024

# Imports

In [1]:
import urllib.request
import zipfile

# Imports
import pandas as pd
from scipy import stats

# Data Loading

In [2]:
# Retrieve Data Zip File
if not zipfile.is_zipfile("data/CollegeScorecard_Raw_Data_09262023.zip"):
    urllib.request.urlretrieve("https://ed-public-download.app.cloud"
                               ".gov/downloads/CollegeScorecard_Raw_Data_09262023.zip",
                               "data/CollegeScorecard_Raw_Data_09262023.zip")

In [3]:
# Using Pandas' built-in zip support does not work since our zip file has more than one file 
# archived inside.
with zipfile.ZipFile("data/CollegeScorecard_Raw_Data_09262023.zip").open(
        "data/MERGED2021_22_PP.csv") as data_csv:
    college_scorecard_institution = pd.read_csv(data_csv, low_memory=False,
                                                na_values=("NULL", "PrivacySuppressed")).dropna(
        axis="columns", how="all").convert_dtypes().astype(
        {"UNITID": "category", "OPEID6": "category", "OPEID": "category"})
college_scorecard_institution.head(10)

C:\Users\raffertyp\.conda\envs\college-scorecard-analysis\Lib\site-packages\pandas\core\dtypes\cast.py:1057: RuntimeWarning: invalid value encountered in cast
  if (arr.astype(int) == arr).all():
C:\Users\raffertyp\.conda\envs\college-scorecard-analysis\Lib\site-packages\pandas\core\dtypes\cast.py:1081: RuntimeWarning: invalid value encountered in cast
  if (arr.astype(int) == arr).all():

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMAWDP8_NOPELL_FIRSTTIME,OMENRUP_NOPELL_FIRSTTIME,OMENRYP_NOPELL_NOTFIRSTTIME,OMENRAP_NOPELL_NOTFIRSTTIME,OMAWDP8_NOPELL_NOTFIRSTTIME,OMENRUP_NOPELL_NOTFIRSTTIME,OMACHT8_NOPELL_ALL,OMACHT8_NOPELL_FIRSTTIME,OMACHT8_NOPELL_NOTFIRSTTIME,ADDR
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,www.aamu.edu/admissions-aid/tuition-fees/net-p...,...,0.3187,0.2709,0.0128,0.2949,0.4744,0.2179,329,251,78,4900 Meridian Street
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,https://www.uab.edu/,https://tcc.ruffalonl.com/University of Alabam...,...,0.6937,0.066,0.0111,0.2636,0.5136,0.2117,2358,1182,1176,Administration Bldg Suite 1070
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,https://www.amridgeuniversity.edu/,https://www2.amridgeuniversity.edu:9091/,...,0.0,0.5,0.0,0.3333,0.4583,0.2083,26,2,24,1200 Taylor Rd
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu/,finaid.uah.edu/,...,0.6471,0.0941,0.0082,0.2647,0.5948,0.1324,1122,510,612,301 Sparkman Dr
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu/,www.alasu.edu/cost-aid/tuition-costs/net-price...,...,0.4381,0.2167,0.0,0.1444,0.3667,0.4889,510,420,90,915 S Jackson Street
5,100751,105100,1051,The University of Alabama,Tuscaloosa,AL,35487-0100,Southern Association of Colleges and Schools C...,www.ua.edu/,financialaid.ua.edu/net-price-calculator/,...,0.7532,0.0433,0.0096,0.2351,0.6292,0.1261,6774,5315,1459,739 University Blvd
6,100760,100700,1007,Central Alabama Community College,Alexander City,AL,35010,Southern Association of Colleges and Schools C...,www.cacc.edu/,https://www.cacc.edu/net-price-calculator/,...,0.3264,0.5397,0.0,0.1408,0.2958,0.5634,310,239,71,1675 Cherokee Rd
7,100812,100800,1008,Athens State University,Athens,AL,35611,Southern Association of Colleges and Schools C...,www.athens.edu/,www.athens.edu/financial-aid/net-price-calcula...,...,<NA>,<NA>,0.0133,0.1433,0.6219,0.2216,677,0,677,300 N Beaty St
8,100830,831000,8310,Auburn University at Montgomery,Montgomery,AL,36117-3596,Southern Association of Colleges and Schools C...,www.aum.edu/,www.aum.edu/current-students/financial-informa...,...,0.4058,0.3037,0.0114,0.2576,0.4962,0.2348,646,382,264,7440 East Drive
9,100858,100900,1009,Auburn University,Auburn,AL,36849,Southern Association of Colleges and Schools C...,www.auburn.edu/,https://www.auburn.edu/admissions/costcalc/fre...,...,0.8171,0.044,0.0055,0.1953,0.7347,0.0644,4154,3253,901,"Auburn, Alabama"

In [4]:
# Using Pandas' built-in zip support does not work since our zip file has more than one file 
# archived inside.
with zipfile.ZipFile("data/CollegeScorecard_Raw_Data_09262023.zip").open(
        "data/FieldOfStudyData1819_1920_PP.csv") as data_csv:
    college_scorecard_field_of_study = pd.read_csv(data_csv, low_memory=False,
                                                   na_values=("NULL", "PrivacySuppressed")).dropna(
        axis="columns", how="all").convert_dtypes().astype(
        {"UNITID": "category", "OPEID6": "category"})
college_scorecard_field_of_study.head(10)

,UNITID,OPEID6,INSTNM,CONTROL,MAIN,CIPCODE,CIPDESC,CREDLEV,CREDDESC,IPEDSCOUNT1,...,BBRR4_FED_COMP_N,BBRR4_FED_COMP_DFLT,BBRR4_FED_COMP_DLNQ,BBRR4_FED_COMP_FBR,BBRR4_FED_COMP_DFR,BBRR4_FED_COMP_NOPROG,BBRR4_FED_COMP_MAKEPROG,BBRR4_FED_COMP_PAIDINFULL,BBRR4_FED_COMP_DISCHARGE,DISTANCE
0,100654,1002,Alabama A & M University,Public,1,100,"Agriculture, General.",3,Bachelor's Degree,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0
1,100654,1002,Alabama A & M University,Public,1,101,Agricultural Business and Management.,3,Bachelor's Degree,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0
2,100654,1002,Alabama A & M University,Public,1,109,Animal Sciences.,3,Bachelor's Degree,6,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1
3,100654,1002,Alabama A & M University,Public,1,110,Food Science and Technology.,3,Bachelor's Degree,7,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1
4,100654,1002,Alabama A & M University,Public,1,110,Food Science and Technology.,5,Master's Degree,8,...,12,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1
5,100654,1002,Alabama A & M University,Public,1,110,Food Science and Technology.,6,Doctoral Degree,2,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1
6,100654,1002,Alabama A & M University,Public,1,111,Plant Sciences.,3,Bachelor's Degree,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,0
7,100654,1002,Alabama A & M University,Public,1,199,"Agriculture, Agriculture Operations, and Relat...",3,Bachelor's Degree,2,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1
8,100654,1002,Alabama A & M University,Public,1,199,"Agriculture, Agriculture Operations, and Relat...",5,Master's Degree,2,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1
9,100654,1002,Alabama A & M University,Public,1,199,"Agriculture, Agriculture Operations, and Relat...",6,Doctoral Degree,2,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1

In [5]:
joined_college_scorecard = college_scorecard_field_of_study.join(college_scorecard_institution,
                                                                 "UNITID", rsuffix="dupe",
                                                                 validate="many_to_one")
joined_college_scorecard = joined_college_scorecard.drop(
    columns=filter(lambda label: "dupe" in label, joined_college_scorecard.columns))
joined_college_scorecard

,UNITID,OPEID6,INSTNM,CONTROL,MAIN,CIPCODE,CIPDESC,CREDLEV,CREDDESC,IPEDSCOUNT1,...,OMAWDP8_NOPELL_FIRSTTIME,OMENRUP_NOPELL_FIRSTTIME,OMENRYP_NOPELL_NOTFIRSTTIME,OMENRAP_NOPELL_NOTFIRSTTIME,OMAWDP8_NOPELL_NOTFIRSTTIME,OMENRUP_NOPELL_NOTFIRSTTIME,OMACHT8_NOPELL_ALL,OMACHT8_NOPELL_FIRSTTIME,OMACHT8_NOPELL_NOTFIRSTTIME,ADDR
0,100654,1002,Alabama A & M University,Public,1,100,"Agriculture, General.",3,Bachelor's Degree,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,100654,1002,Alabama A & M University,Public,1,101,Agricultural Business and Management.,3,Bachelor's Degree,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,100654,1002,Alabama A & M University,Public,1,109,Animal Sciences.,3,Bachelor's Degree,6,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,100654,1002,Alabama A & M University,Public,1,110,Food Science and Technology.,3,Bachelor's Degree,7,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,100654,1002,Alabama A & M University,Public,1,110,Food Science and Technology.,5,Master's Degree,8,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233974,<NA>,42640,California Southern University,"Private, for-profit",1,4228,"Clinical, Counseling and Applied Psychology.",7,First Professional Degree,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
233975,<NA>,42640,California Southern University,"Private, for-profit",1,5138,"Registered Nursing, Nursing Administration, Nu...",3,Bachelor's Degree,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
233976,<NA>,42924,Body Wisdom Massage Therapy School,"Private, for-profit",1,5135,Somatic Bodywork and Related Therapeutic Servi...,1,Undergraduate Certificate or Diploma,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
233977,<NA>,42961,Madera Community College,Public,1,2401,"Liberal Arts and Sciences, General Studies and...",2,Associate's Degree,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
233978,<NA>,42961,Madera Community College,Public,1,5138,"Registered Nursing, Nursing Administration, Nu...",2,Associate's Degree,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [6]:
for col in joined_college_scorecard.columns: 
    unique_cols = joined_college_scorecard[col].unique()
    if len(unique_cols) <= 3 and 0 in unique_cols and 1 in unique_cols:
        print(col)
        joined_college_scorecard[col] = joined_college_scorecard[col].astype("boolean")
        #todo: not catching DISTANCEONLY case
joined_college_scorecard

MAIN

,UNITID,OPEID6,INSTNM,CONTROL,MAIN,CIPCODE,CIPDESC,CREDLEV,CREDDESC,IPEDSCOUNT1,...,OMAWDP8_NOPELL_FIRSTTIME,OMENRUP_NOPELL_FIRSTTIME,OMENRYP_NOPELL_NOTFIRSTTIME,OMENRAP_NOPELL_NOTFIRSTTIME,OMAWDP8_NOPELL_NOTFIRSTTIME,OMENRUP_NOPELL_NOTFIRSTTIME,OMACHT8_NOPELL_ALL,OMACHT8_NOPELL_FIRSTTIME,OMACHT8_NOPELL_NOTFIRSTTIME,ADDR
0,100654,1002,Alabama A & M University,Public,True,100,"Agriculture, General.",3,Bachelor's Degree,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,100654,1002,Alabama A & M University,Public,True,101,Agricultural Business and Management.,3,Bachelor's Degree,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,100654,1002,Alabama A & M University,Public,True,109,Animal Sciences.,3,Bachelor's Degree,6,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,100654,1002,Alabama A & M University,Public,True,110,Food Science and Technology.,3,Bachelor's Degree,7,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,100654,1002,Alabama A & M University,Public,True,110,Food Science and Technology.,5,Master's Degree,8,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233974,<NA>,42640,California Southern University,"Private, for-profit",True,4228,"Clinical, Counseling and Applied Psychology.",7,First Professional Degree,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
233975,<NA>,42640,California Southern University,"Private, for-profit",True,5138,"Registered Nursing, Nursing Administration, Nu...",3,Bachelor's Degree,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
233976,<NA>,42924,Body Wisdom Massage Therapy School,"Private, for-profit",True,5135,Somatic Bodywork and Related Therapeutic Servi...,1,Undergraduate Certificate or Diploma,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
233977,<NA>,42961,Madera Community College,Public,True,2401,"Liberal Arts and Sciences, General Studies and...",2,Associate's Degree,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
233978,<NA>,42961,Madera Community College,Public,True,5138,"Registered Nursing, Nursing Administration, Nu...",2,Associate's Degree,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [7]:
joined_college_scorecard[joined_college_scorecard["INSTNM"] == "Milwaukee School of Engineering"]

,UNITID,OPEID6,INSTNM,CONTROL,MAIN,CIPCODE,CIPDESC,CREDLEV,CREDDESC,IPEDSCOUNT1,...,OMAWDP8_NOPELL_FIRSTTIME,OMENRUP_NOPELL_FIRSTTIME,OMENRYP_NOPELL_NOTFIRSTTIME,OMENRAP_NOPELL_NOTFIRSTTIME,OMAWDP8_NOPELL_NOTFIRSTTIME,OMENRUP_NOPELL_NOTFIRSTTIME,OMACHT8_NOPELL_ALL,OMACHT8_NOPELL_FIRSTTIME,OMACHT8_NOPELL_NOTFIRSTTIME,ADDR
192794,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,909,"Public Relations, Advertising, and Applied Com...",3,Bachelor's Degree,1,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192795,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,1107,Computer Science.,3,Bachelor's Degree,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192796,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,1108,Computer Software and Media Applications.,1,Undergraduate Certificate or Diploma,1,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192797,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,1401,"Engineering, General.",3,Bachelor's Degree,2,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192798,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,1401,"Engineering, General.",5,Master's Degree,9,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192799,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,1404,Architectural Engineering.,3,Bachelor's Degree,23,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192800,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,1404,Architectural Engineering.,5,Master's Degree,8,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192801,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,1405,Biomedical/Medical Engineering.,3,Bachelor's Degree,44,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192802,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,1407,Chemical Engineering.,3,Bachelor's Degree,18,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192803,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,1408,Civil Engineering.,3,Bachelor's Degree,16,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192804,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,1408,Civil Engineering.,5,Master's Degree,12,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192805,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,1409,Computer Engineering.,3,Bachelor's Degree,80,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192806,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,1410,"Electrical, Electronics and Communications Eng...",3,Bachelor's Degree,87,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192807,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,1414,Environmental/Environmental Health Engineering.,5,Master's Degree,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192808,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,1419,Mechanical Engineering.,3,Bachelor's Degree,122,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192809,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,1435,Industrial Engineering.,3,Bachelor's Degree,39,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192810,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,1437,Operations Research.,3,Bachelor's Degree,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192811,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,1503,Electrical Engineering Technologies/Technicians.,3,Bachelor's Degree,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192812,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,1508,Mechanical Engineering Related Technologies/Te...,3,Bachelor's Degree,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192813,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,2609,"Physiology, Pathology and Related Sciences.",5,Master's Degree,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192814,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,3031,Human Computer Interaction.,3,Bachelor's Degree,1,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192815,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,5109,"Allied Health Diagnostic, Intervention, and Tr...",5,Master's Degree,7,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192816,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,5127,Medical Illustration and Informatics.,5,Master's Degree,1,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192817,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,5138,"Registered Nursing, Nursing Administration, Nu...",3,Bachelor's Degree,68,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192818,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,5138,"Registered Nursing, Nursing Administration, Nu...",5,Master's Degree,4,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192819,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,5138,"Registered Nursing, Nursing Administration, Nu...",8,Graduate/Professional Certificate,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192820,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,5201,"Business/Commerce, General.",3,Bachelor's Degree,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192821,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,5202,"Business Administration, Management and Operat...",3,Bachelor's Degree,18,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192822,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,5202,"Business Administration, Management and Operat...",5,Master's Degree,76,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192823,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,5202,"Business Administration, Management and Operat...",8,Graduate/Professional Certificate,11,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192824,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,5207,Entrepreneurial and Small Business Operations.,8,Graduate/Professional Certificate,5,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192825,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,5211,International Business.,3,Bachelor's Degree,4,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192826,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,5211,International Business.,5,Master's Degree,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192827,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,5211,International Business.,8,Graduate/Professional Certificate,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192828,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,5212,Management Information Systems and Services.,3,Bachelor's Degree,5,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192829,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,5212,Management Information Systems and Services.,8,Graduate/Professional Certificate,3,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192830,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,5213,Management Sciences and Quantitative Methods.,3,Bachelor's Degree,7,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192831,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,5213,Management Sciences and Quantitative Methods.,8,Graduate/Professional Certificate,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192832,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,5220,Construction Management.,3,Bachelor's Degree,14,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
192833,239318,3868,Milwaukee School of Engineering,"Private, nonprofit",True,5220,Construction Management.,5,Master's Degree,1,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

# Debt Column Key

Format: DEBT_[Disaggregation]_[Loan Type]_[Method]_[Metric]

## Disaggregation

- MALE: Men only

- NOTMALE: Women only

- PELL: People who got Pell grants.

- NOPELL: People who did not receive Pell grants.

- ALL: All graduates, no disaggregation

## Loan Type

- STGP: Stafford and Graduate Plus loans

- PP: Parent Plus loans

## Method

- EVAL: Debts originated only at the specified institution.

- ANY: Debts originated at any institution attended by graduates.

## Metric

- N: number of grads with loans

- MDN: Median loan amount dispersed.

- MEAN: Mean loan amount dispersed.

In [8]:
pd.DataFrame(joined_college_scorecard[
                 filter(lambda label: "DEBT" in label, joined_college_scorecard.columns)].columns)

                                0
0             DEBT_ALL_STGP_ANY_N
1          DEBT_ALL_STGP_ANY_MEAN
2           DEBT_ALL_STGP_ANY_MDN
3            DEBT_ALL_STGP_EVAL_N
4         DEBT_ALL_STGP_EVAL_MEAN
..                            ...
59        DEBT_NOPELL_PP_EVAL_MDN
60     DEBT_ALL_PP_ANY_MDN10YRPAY
61    DEBT_ALL_PP_EVAL_MDN10YRPAY
62   DEBT_ALL_STGP_ANY_MDN10YRPAY
63  DEBT_ALL_STGP_EVAL_MDN10YRPAY

[64 rows x 1 columns]

# Hypothesis Testing

Search for potential linear relationships

In [9]:
pd.DataFrame(joined_college_scorecard.dtypes)

                                          0
UNITID                                Int64
OPEID6                             category
INSTNM                       string[python]
CONTROL                      string[python]
MAIN                                boolean
...                                     ...
OMENRUP_NOPELL_NOTFIRSTTIME         Float64
OMACHT8_NOPELL_ALL                    Int64
OMACHT8_NOPELL_FIRSTTIME              Int64
OMACHT8_NOPELL_NOTFIRSTTIME           Int64
ADDR                         string[python]

[915 rows x 1 columns]

In [10]:
numeric_variables = tuple(filter(lambda col: (joined_college_scorecard[col].dtype == "Float64" or
                                              joined_college_scorecard[
                                                  col].dtype == "Int64") and not "DEBT" in col,
                                 joined_college_scorecard.columns))

dat = {}

for column in numeric_variables:
    nonna_subset = joined_college_scorecard[[column, "DEBT_ALL_STGP_ANY_MDN"]].dropna()
    if len(nonna_subset >= 2):
        res = stats.pearsonr(nonna_subset["DEBT_ALL_STGP_ANY_MDN"], nonna_subset[column])
        dat[column] = {"R": res[0], "p-value": res[1]}

df = pd.DataFrame.from_dict(dat, orient='index')
df.reset_index(inplace=True)
df.rename(columns={'index': 'Column', 'R': 'Statistic'}, inplace=True)
df

                       Column  Statistic        p-value
0                      UNITID  -0.000877   8.598219e-01
1                     CIPCODE   0.008516   8.579278e-02
2                     CREDLEV   0.560083   0.000000e+00
3                 IPEDSCOUNT1  -0.140506  6.323998e-170
4                 IPEDSCOUNT2  -0.129043  1.729038e-140
5     EARN_COUNT_PELL_WNE_1YR   0.047477   9.628173e-16
6       EARN_PELL_WNE_MDN_1YR   0.277665   0.000000e+00
7   EARN_COUNT_NOPELL_WNE_1YR   0.111177   5.803865e-46
8     EARN_NOPELL_WNE_MDN_1YR   0.321291   0.000000e+00
9     EARN_COUNT_MALE_WNE_1YR   0.056154   1.452166e-14
10      EARN_MALE_WNE_MDN_1YR   0.282473   0.000000e+00
11  EARN_COUNT_NOMALE_WNE_1YR   0.048530   9.452422e-15
12    EARN_NOMALE_WNE_MDN_1YR   0.279773   0.000000e+00
13        EARN_COUNT_NWNE_1YR  -0.033923   8.572817e-12
14         EARN_COUNT_WNE_1YR   0.053687   5.310292e-24
15               EARN_MDN_1YR   0.253301   0.000000e+00
16      EARN_GT_THRESHOLD_1YR   0.165674   5.680633e-96
17   EARN_COUNT_HIGH_CRED_1YR   0.155760   2.208333e-08
18          EARN_IN_STATE_1YR  -0.064364   2.901780e-01
19        EARN_COUNT_NWNE_4YR   0.045606   5.435871e-19
20         EARN_COUNT_WNE_4YR   0.113533   1.845892e-91
21               EARN_MDN_4YR   0.237183   0.000000e+00
22      EARN_GT_THRESHOLD_4YR   0.241560  8.124083e-164
23    EARN_COUNT_PELL_WNE_4YR   0.117097   1.558538e-79
24      EARN_PELL_WNE_MDN_4YR   0.250019   0.000000e+00
25  EARN_COUNT_NOPELL_WNE_4YR   0.155069   9.727035e-81
26    EARN_NOPELL_WNE_MDN_4YR   0.294271  5.257517e-295
27    EARN_COUNT_MALE_WNE_4YR   0.129888   3.169800e-66
28      EARN_MALE_WNE_MDN_4YR   0.238089  2.141941e-222
29  EARN_COUNT_NOMALE_WNE_4YR   0.109548   5.816965e-62
30    EARN_NOMALE_WNE_MDN_4YR   0.276355   0.000000e+00
31   EARN_COUNT_HIGH_CRED_4YR   0.142044   8.130193e-36
32          EARN_IN_STATE_4YR  -0.111491   1.472954e-72
33           BBRR1_FED_COMP_N   0.044715   3.406761e-18
34           BBRR4_FED_COMP_N   0.111636   2.060205e-94
35                   DISTANCE   0.130230  2.095231e-153